<template>
    <div>
        <menu-component></menu-component>
        <main role="main" class="container">
            <form v-on:submit.prevent="update">
                <div class="form-group">
                    <label for="titleProduct">Название товара</label>
                    <input type="text" class="form-control" id="titleProduct"
                           v-model="productState.product.title" placeholder="Введите название" name="title" required autofocus>

                </div>
                <div class="form-group">
                    <label for="descriptionProduct">Описание товара</label>
                    <textarea class="form-control" id="descriptionProduct" rows="3" name="description" v-model="productState.product.description" required></textarea>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="categoryProduct">Категория товара</label>
                            <select class="form-control" id="categoryProduct" name="category_id" v-model="productState.product.category_id">
                                <option v-for="(category, index) in categoryState.categories" v-bind:value="category.id" :key="index">{{category.title}}</option>
                            </select>

                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="costProduct">Стоимость товара</label>
                            <input type="text" class="form-control" v-model="productState.product.cost" id="costProduct" placeholder="Введите стоимость" name="cost" required>

                        </div>
                    </div>
                </div>
                <div class="float-right">
                    <button type="submit" class="btn btn-success">Обновить</button>
                </div>
                <div class="clearfix"></div>
            </form>
            <alert-component :alert="alert"></alert-component>
        </main>
    </div>
</template>
<script lang="ts">

    import {Component, Vue, Provide, Prop} from 'vue-property-decorator';
    import AlertComponent from "@/components/common/Alert.vue";
    import MenuComponent from '@/components/common/Menu.vue';
    import {Action, State} from "vuex-class";
    import CategoryState from "@/store/modules/category/types";
    import IAlert from "@/domain/entities/interfaces/IAlert";
    import Alert from "@/domain/entities/Alert";
    import ProductState from "@/store/modules/product/types";

    @Component({
        components: {AlertComponent, MenuComponent},
    })
    export default class Edit extends Vue {

        @State('category') public categoryState!: CategoryState;
        @State('product') public productState!: ProductState;

        @Provide()
        public alert: IAlert = new Alert();

        @Prop() public id: any;

        @Action public getProduct: any;
        @Action public allCategories: any;
        @Action public updateProduct: any;

        created() {
            this.allCategories();
            this.getProduct({id: this.id});
        }

        public update() {
            this.updateProduct().then((response: string) => {
                this.alert = new Alert(true, Alert.SUCCESS, response);
            }).catch((error: string) => {
                this.alert = new Alert(true, Alert.ERROR, error);
            });
        }

    }
</script>
