<template>
    <div>

        <menu-component></menu-component>

        <main role="main" class="container">

            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">ООО "Техника"</h1>
                    <p class="lead text-muted">Общество с ограниченной ответственностью "Техника"</p>
                    <p>
                        <small class="text-muted">414056, г. Астрахань,ул. Куйбышева, 63/72/4, литер А, пом.031</small>
                        <small class="text-muted">www.tehrantour.ru</small>
                    </p>
                </div>
            </section>

            <div class="py-5 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="productSearch">Поиск</label>
                                <input class="form-control" id="productSearch" placeholder="Поиск..." name="search"
                                       v-model="filter.search">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="productCategory">Категория</label>
                                <select class="form-control" id="productCategory" name="category"
                                        v-model="filter.category">
                                    <option :value="undefined">Выберите...</option>
                                    <option v-for="(category, index) in categoryState.categories" v-bind:value="category.id"
                                            :key="index">{{category.title}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="productCost">Стоимость</label>
                                <div class="input-group" id="productCost">
                                    <input type="text" class="form-control" placeholder="От" name="costFrom"
                                           v-model="filter.costFrom">
                                    <input type="text" class="form-control" placeholder="До" name="costTo"
                                           v-model="filter.costTo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="float-right">
                        <button type="submit" class="btn btn-secondary mr-1" v-on:click="resetForm">Сброс</button>
                        <button type="submit" class="btn btn-info" v-on:click="allProducts(filter)">Применить</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="album py-5 bg-light">
                <div class="container">
                    <template v-if="isAuthenticated && hasRole('admin')">
                        <div class="float-right cst-margin-20">
                            <router-link :to="{ name: 'products.create'}" class="cst-link-none">
                                <button type="button" class="btn btn-success">Создать</button>
                            </router-link>
                        </div>
                        <div class="clearfix"></div>
                    </template>

                    <div class="row">
                        <div class="col-md-4" v-for="(product, index) in productState.products" :key="index">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <!-- TODO: логика, @can('checkOwn', $product)-->
                                    <template v-if="isAuthenticated && hasRole('admin')">
                                        <div class="float-right">
                                            <router-link :to="{ name: 'products.edit', params: { id: product.id } }" class="cst-link-none">
                                                <button class="cst-btn-icon"><i class="fa fa-pencil"></i></button>
                                            </router-link>
                                            <button class="cst-btn-icon" v-on:click="destroy(product.id)"><i class="fa fa-trash"></i></button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </template>

                                    <p class="card-text">{{product.title}}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <router-link :to="{ name: 'products.show', params: { id: product.id } }"
                                                         class="cst-link-none">
                                                <button type="button" class="btn btn-sm btn-outline-secondary mr-1">
                                                    Подробнее
                                                </button>
                                            </router-link>
                                            <template v-if="isAuthenticated && hasRole('user')">
                                                <button class="btn btn-sm btn-success" v-on:click="buy">Купить</button>
                                            </template>

                                        </div>
                                        <small class="text-muted">{{product.cost}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

    </div>
</template>
<script lang="ts">

    import {Component, Vue, Provide} from 'vue-property-decorator';
    import MenuComponent from '@/components/common/Menu.vue';
    import {mapGetters} from 'vuex';
    import {Action, State} from 'vuex-class';
    import IFilter from "@/domain/entities/interfaces/IFilter";
    import Filter from "@/domain/entities/Filter";
    import ProductState from "@/store/modules/product/types";
    import CategoryState from "@/store/modules/category/types";
    import SuccessNotifier from "@/domain/util/notifications/SuccessNotifier";

    @Component({
        components: {MenuComponent},
        computed: mapGetters(['isAuthenticated', 'hasRole']),
    })
    export default class List extends Vue {

        @State('product') public productState!: ProductState;
        @State('category') public categoryState!: CategoryState;

        @Provide()
        public filter: IFilter = new Filter(undefined, undefined, undefined, undefined);

        @Action public allProducts: any;
        @Action public allCategories: any;
        @Action public destroyProduct: any;

        public mounted() {
            this.allProducts(this.filter);
            this.allCategories();
        }

        public resetForm() {
            this.filter = new Filter(undefined, undefined, undefined, undefined);
            this.allProducts(this.filter);
        }

        public destroy(id: number) {
            this.destroyProduct({id: id, filter: this.filter}).then((response: any) => {
                SuccessNotifier.notify('Успех', response.message)
            });
        }

        public buy() {
            console.log('купить');
        }

    }
</script>


