<template>
    <div>

        <menu-component></menu-component>

        <main role="main" class="container">

            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">{{productState.product.title}}</h1>
                </div>
            </section>

            <div class="album py-5 bg-light">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-12 box-shadow">
                                <div class="card-body">
                                    <p class="card-text">{{productState.product.description}}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">{{cost}}</small>
                                        <small class="text-muted">{{productState.product.category.title}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </main>

    </div>
</template>
<script lang="ts">

    import {Component, Vue, Prop} from 'vue-property-decorator'
    import MenuComponent from "@/components/common/Menu.vue";
    import {State, Action} from 'vuex-class';
    import ProductState from "@/store/modules/product/types";

    @Component({
        components: {MenuComponent},
    })
    export default class Show extends Vue {

        @State('product') public productState!: ProductState;

        @Prop() public id: any;

        @Action public getProduct: any;

        public mounted() {
            this.getProduct({id: this.id});
        }

        get cost() {
            return this.productState.product.cost + ' р.';
        }

    }

</script>
