@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/font-awesome/css/font-awesome.css';

/* jumbotron */
:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

body {
  padding-top: 5rem;
}

/* Форма авторизации */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Собственные стили*/
.cst-btn-link {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.cst-btn-link:focus {
  outline: none !important;
}

.cst-margin-0 {
  margin: 0;
}

.cst-link-none:hover {
  text-decoration: none;
}

.cst-margin-20 {
  margin-top: -20px;
  margin-bottom: 20px;
}

div i.fa {
  cursor: pointer;
}

.cst-btn-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.cst-btn-icon:hover {
  outline: none !important;
}

.cst-link-icon {
  color: black;
}

.cst-link-icon:hover {
  color: black;
}

//notifications

.notifications {
  right: 0px;
  z-index: 10000 !important;

  .vue-notification {
    background: #f9f9f9; //TODO: $light-gray;
    border-top: 1px solid #004f8e;//$dark-blue;
    border-bottom: 1px solid #004f8e;//$dark-blue;
    border-left: 5px solid #004f8e;//$dark-blue;
    margin: 5px 0 0 0;
    @include box-shadow(0px 2px 10px rgba(0, 0, 0, .3), 0px 0px 1px rgba(0, 0, 0, .1), inset 0px 1px 0px rgba(255, 255, 255, .25), inset 0px -1px 0px rgba(0, 0, 0, .15));
    color: black;//$black;
  }
}

//error page

.cst-container-text-error {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
}
.code {
  border-right: 2px solid;
  font-size: 26px;
  padding: 0 15px 0 15px;
  text-align: center;
}
.message {
  font-size: 18px;
  text-align: center;
  padding: 10px;
}
