<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>catalog.front</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>



<!--<!DOCTYPE html>-->
<!--<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">-->
<!--<head>-->
<!--  <meta charset="utf-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->

<!--  &lt;!&ndash; CSRF Token &ndash;&gt;-->
<!--  <meta name="csrf-token" content="{{ csrf_token() }}">-->

<!--  <title>@yield('title')</title>-->


<!--  &lt;!&ndash; Styles &ndash;&gt;-->
<!--  <link href="{{ asset('css/app.css') }}" rel="stylesheet">-->
<!--  <link href="/css/style.css" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--@yield('content')-->

<!--&lt;!&ndash; Scripts &ndash;&gt;-->
<!--<script src="{{ asset('js/app.js') }}" defer></script>-->
<!--@stack('scripts')-->
<!--</body>-->
<!--</html>-->
