<template v-show="alert.show">
    <div class="alert"  v-bind:class="[ 'alert-' + alert.type]" role="alert" v-html="alert.message">
    </div>
</template>
<script lang="ts">

    import {Component, Prop, Vue} from 'vue-property-decorator';
    import IAlert from "@/domain/entities/interfaces/IAlert";

    @Component
    export default class Alert extends Vue {

        @Prop({ default: new Alert() }) readonly alert!: IAlert

    }

</script>
