<template>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <router-link :to="{ name: 'products.list' }" class="nav-link">Главная</router-link>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav mr-auto">>
            <li class="nav-item active" v-if="!isAuthenticated">
                <router-link :to="{ name: 'login' }" class="nav-link">Вход</router-link>
            </li>
            <template v-if="isAuthenticated">
                <li class="nav-item">
                    <p class="nav-link cst-margin-0">{{user.profile.username}} : {{user.role}}</p>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" v-on:click.stop="logout">Выход</a>
                </li>
            </template>
        </ul>
    </nav>
</template>
<script lang="ts">

    import {Component, Vue} from 'vue-property-decorator';
    import {State, Action} from 'vuex-class';
    import {mapGetters} from 'vuex';
    import UserState from "@/store/modules/user/types";

    @Component({
        computed: mapGetters(['isAuthenticated'])
    })
    export default class Menu extends Vue {

        @State('user') public user!: UserState;

        @Action public authLogout: any;

        public logout() {
            this.authLogout().then(() => {
                this.$router.go(0)
            })
        }

    }

</script>
