<style lang="scss">
    @import '../public/sass/app';
</style>
<template>
    <div id="app">
        <notifications></notifications>
        <router-view/>
    </div>
</template>
<script lang="ts">

    import {Component, Vue} from 'vue-property-decorator';
    import {Action} from "vuex-class";
    import TokenService from "@/domain/services/TokenService";

    @Component
    export default class App extends Vue {

        @Action public getUser: any;

        created() {
            if (TokenService.getToken()) {
                this.getUser();
            }
        }

    }

</script>
