<template>
    <div>
        <div class="text-center">
            <form class="form-signin" method="post" @submit.prevent="login">
                <h1 class="h3 mb-3 font-weight-normal">Войти</h1>
                <label for="inputUsername" class="sr-only">Логин</label>
                <input type="text" id="inputUsername" class="form-control" placeholder="Логин" v-model="user.username" required autofocus>
                <label for="inputPassword" class="sr-only">Пароль</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" v-model="user.password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
            </form>
        </div>
        <alert-component :alert="alert"></alert-component>
    </div>
</template>
<script lang="ts">

    import {Component, Vue, Provide} from 'vue-property-decorator';
    import {Action} from 'vuex-class';
    import IDataAuth from "@/domain/entities/interfaces/IDataAuth";
    import DataAuth from "@/domain/entities/DataAuth";
    import AlertComponent from "@/components/common/Alert.vue";
    import IAlert from '@/domain/entities/interfaces/IAlert';
    import Alert from "@/domain/entities/Alert";

    @Component({
        components: {AlertComponent},
    })
    export default class Login extends Vue {

        public user: IDataAuth = new DataAuth(undefined, undefined);

        @Action public authLogin: any;

        @Provide()
        public alert: IAlert = new Alert();

        public login() {
            this.authLogin(this.user).then(() => {
                this.$router.push('/');
            }).catch((error: any) => {
               if (error === 401) {
                   this.alert = new Alert(true, Alert.ERROR, 'Неверный логин или пароль');
               }
            });
        }

    }
</script>
